.form {
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #000;
  background-color: #fff;
}

.form__field-set {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

.form__field-component {
  margin-bottom: 25px;
}

.form__input {
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.form__input_type_error {
  border-bottom: 1px solid red;
}

.form__error-message {
  color: red;
  font-size: 14px;
}

/* butto submit */
.form__button-submit {
  width: 100%;
  padding: 15px 16px;
  color: #fff;
  border-radius: 0;
  background-color: #000;
}

.form__button-submit_disabled {
  cursor: not-allowed;
  background-color: #000000c5;
}
